*{
	margin: 0px; /* 5px */
	padding: 0px;
	text-decoration: none;
	color: black;
}

h1{
	font-size: 3.25em;
    text-align: center;
    color: blueviolet;   
}
.menu{
	background: #d2ddf0; 
	margin: 0px; /* 10px 5px 0px 5px */
	padding: 5px 15px;
	text-align: center;
	border-radius: 0px; /* 10px */
	box-shadow: rgba(150, 150, 150, .5) 2px 2px;
	position: relative;
	z-index: 20;
}
body{background-image: url(../img/estrella.gif)
   
}
   h2 {font-size: 2,75em;
       text-align: center;
    color:blueviolet;
        }





.menu li{
	display: inline-block;
	list-style: none;
	margin: 15px 25px; /* NO HABIA NADA, ESTO ES NUEVO */
	padding: 5px;
	font: bold 14px verdana, sans-serif;
	border-top: 3px solid write;
	border-bottom: 2px solid #fff;
    
	transition: all .9s ease;
}
.menu li:hover{
	color: yellow; /* QUEDA SIN EFECTO AL ESPECIFICARSE: .menu li li a:hover */
	border-radius: 10px;
	transform: translateY(-10px);
	box-shadow: 300px 0 #60c659 inset, /* 300px 0 #ff9338 inset */
				-300px 0 #60c659 inset; /* -300px 0 #ff9338 inset */
}
.menu li li a:hover{
	color: yellow; /* NO HABIA NADA, ESTO ES NUEVO */
}
.menu li ul{
	display: none;
}
.menu li:hover > ul{
	display: block;
}
.menu li{
	position: relative;
}
.menu li ul{
	position: absolute;
}
.menu li li{
	background: #f0e68c;
	display: block;
	font-size: 11px;
	width: 200px;
	top: 100%;
	margin: 15px; /* 10px */
	border-radius: 3px; /* NO HABIA NADA, ESTO ES NUEVO */
}

.menu li li:hover{
	background: #f0e68c;
	transform: translateX(15px);
	box-shadow: 250px 0 #1cce28 inset;
}
.menu li li li{
	background: #87cefa; /* #c4d3dd */
	display: block;
	font-size: 10px;
	width: 150px;
	margin: 0px 0px 10px 5px; /* -5px 0px 10px -5px */
	border-radius: 3px; /* NO HABIA NADA, ESTO ES NUEVO */
}
.menu li li li:hover{
	color: moccasin; /* QUEDA SIN EFECTO AL ESPECIFICARSE: .menu li li li a:hover */
	transform: translateX(0px);
	box-shadow: 200px 0 #6495ed inset,
				-200px 0 #6495ed inset;
}
.menu li li li a:hover{
	color: moccasin; /* NO HABIA NADA, ESTO ES NUEVO */
}
.menu ul ul ul{
	left: 100%;
	top: 0;
}
.menu a:hover{
	color: white; /* lime */
}





.agrupar{
	width: 80%;
	margin: 15px auto;
	text-align: justify;
}
.seccion{
	float: left;
	width: 55%;
	margin: 40px 20px 40px 0px; /* 20px 20px 20px 0px */
	text-align: justify;
}
.agrupar{
	font-size: 2.00em;
}

.columna{
	float: right;
	width: 40%;
	height: 420px;
	margin: 40px 0px; /* 20px 0px */
	text-align: center;
	position: relative;
	z-index: 10;
  
}
p{
    color:darkblue;
}
.pie{
	clear: both;
	background: #cbcbcb; /* SIN TRANSPARENCIA: rgb(203, 203, 203); */ /* CON TRANSPARENCIA: rgba(150, 150, 150, .5); */ /* CON TRANSPARENCIA: #c8c6ba */ /* NO HABIA NADA, ESTO ES NUEVO */
	text-align: center;
	padding: 10px;
	border-top: 1px solid #999999;
}
